h1 {
    color:darkorange;
    text-align: center;
    font-size: 55px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


h2 {
    color:chocolate;
    text-align: center;
    font-size: 35px;
}

p {
    color:black;
    text-align:left;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-break: 5px;
}

strong{
    color:chocolate;
    text-decoration:underline;
}

em {
    color:indianred;
    text-align: left;
    text-decoration:underline;
}

body {
    background-color:bisque;

}
@keyframes myAnimation {
    from {background-color: red;}
    to {background-color: yellow;}
}
span {
    color:black;
    text-align:left;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100px;
    height: 150px;
    background-color:darkgoldenrod;
    animation-name: myAnimation;
    animation-duration: 8s;

}

sp {
    
    width: 100px;
    height: 100px;
    background-color:darkgoldenrod;
    animation-name: myAnimation;
    animation-duration: 8s;

}